In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('adult.csv')

In [55]:
print(df)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [74]:
cat_col = ["workclass","education","educational-num","marital-status","occupation","relationship","race",\
          "gender","native-country"]
con_col = ["age","fnlwgt","capital-gain","capital-loss","hours-per-week"]
tar_col = ["income"]

In [59]:
df.nunique()

age                   74
workclass              9
fnlwgt             28523
education             16
educational-num       16
marital-status         7
occupation            15
relationship           6
race                   5
gender                 2
capital-gain         123
capital-loss          99
hours-per-week        96
native-country        42
income                 2
dtype: int64

In [60]:
df["capital-gain"].unique()

array([    0,  7688,  3103,  6418,  7298,  3908, 14084,  5178, 15024,
       99999,  2597,  2907,  4650,  6497,  1055,  5013, 27828,  4934,
        4064,  3674,  2174, 10605,  3418,   114,  2580,  3411,  4508,
        4386,  8614, 13550,  6849,  2463,  3137,  2885,  2964,  1471,
       10566,  2354,  1424,  1455,  3325,  4416, 25236,   594,  2105,
        4787,  2829,   401,  4865,  1264,  1506, 10520,  3464,  2653,
       20051,  4101,  1797,  2407,  3471,  1086,  1848, 14344,  1151,
        2993,  2290, 15020,  9386,  2202,  3818,  2176,  5455, 11678,
        7978,  7262,  6514, 41310,  3456,  7430,  2414,  2062, 34095,
        1831,  6723,  5060, 15831,  2977,  2346,  3273,  2329,  9562,
        2635,  4931,  1731,  6097,   914,  7896,  5556,  1409,  3781,
        3942,  2538,  3887, 25124,  7443,  5721,  1173,  4687,  6612,
        6767,  2961,   991,  2036,  2936,  2050,  1111,  2228, 22040,
        3432,  6360,  2009,  1639, 18481,  2387], dtype=int64)

In [62]:
df = df.replace("?",np.nan)

In [63]:
df.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [64]:
df["workclass"]=df["workclass"].fillna(df["workclass"].mode()[0])
df["occupation"]=df["occupation"].fillna(df["occupation"].mode()[0])
df["native-country"]=df["native-country"].fillna(df["native-country"].mode()[0])

In [19]:
df["native-country"].unique()

array(['United-States', nan, 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [70]:
from sklearn.model_selection import train_test_split

x = df.drop(['income'],axis=1)
y = df[['income']]
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=42)

In [75]:
train_onehot = pd.get_dummies(train_x,columns=cat_col,drop_first=True)
test_onehot = pd.get_dummies(test_x,columns=cat_col,drop_first=True)

from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

train_onehot[con_col] = scaler.fit_transform(train_x[con_col])
test_onehot[con_col] = scaler.transform(test_x[con_col])

print(train_onehot)

        age    fnlwgt  capital-gain  capital-loss  hours-per-week  \
37193  0.25 -0.273095           0.0           0.0             0.0
31093  0.75 -0.024521           0.0           0.0            -1.0
33814 -0.15 -0.044213           0.0           0.0             0.0
14500 -0.45 -0.434493           0.0           0.0             0.0
23399  0.45 -1.245244           0.0           0.0             2.0
...     ...       ...           ...           ...             ...
11284 -0.05  3.812949           0.0           0.0             0.0
44732 -0.15 -0.585757           0.0           0.0             2.0
38158 -0.45  0.600836           0.0           0.0             0.0
860    0.45 -0.677113           0.0           0.0             0.0
15795  1.10 -0.015454           0.0           0.0            -6.6

       workclass_Local-gov  workclass_Never-worked  workclass_Private  \
37193                    0                       0                  1
31093                    0                       0                  0
33814                    1                       0                  0
14500                    0                       0                  1
23399                    0                       0                  1
...                    ...                     ...                ...
11284                    0                       0                  1
44732                    0                       0                  1
38158                    0                       0                  1
860                      0                       0                  0
15795                    0                       0                  1

       workclass_Self-emp-inc  workclass_Self-emp-not-inc  ...  \
37193                       0                           0  ...
31093                       0                           1  ...
33814                       0                           0  ...
14500                       0                           0  ...
23399                       0                           0  ...
...                       ...                         ...  ...
11284                       0                           0  ...
44732                       0                           0  ...
38158                       0                           0  ...
860                         0                           0  ...
15795                       0                           0  ...

       native-country_Portugal  native-country_Puerto-Rico  \
37193                        0                           0
31093                        0                           0
33814                        0                           0
14500                        0                           0
23399                        0                           0
...                        ...                         ...
11284                        0                           0
44732                        0                           0
38158                        0                           0
860                          0                           0
15795                        0                           0

       native-country_Scotland  native-country_South  native-country_Taiwan  \
37193                        0                     0                      0
31093                        0                     0                      0
33814                        0                     0                      0
14500                        0                     0                      0
23399                        0                     0                      0
...                        ...                   ...                    ...
11284                        0                     0                      0
44732                        0                     0                      0
38158                        0                     0                      0
860                          0                     0                      0
15795                        0                     0                      0

       native-country_Thailand  native-country_Trinadad&Tobago  \
37193                        0                               0
31093                        0                               0
33814                        0                               0
14500                        0                               0
23399                        0                               0
...                        ...                             ...
11284                        0                               0
44732                        0                               0
38158                        0                               0
860                          0                               0
15795                        0                               0

       native-country_United-States  native-country_Vietnam  \
37193                             1                       0
31093                             1                       0
33814                             1                       0
14500                             1                       0
23399                             1                       0
...                             ...                     ...
11284                             1                       0
44732                             1                       0
38158                             1                       0
860                               1                       0
15795                             1                       0

       native-country_Yugoslavia
37193                          0
31093                          0
33814                          0
14500                          0
23399                          0
...                          ...
11284                          0
44732                          0
38158                          0
860                            0
15795                          0

[39073 rows x 111 columns]

In [81]:
print(train_y)

      income
37193  <=50K
31093  <=50K
33814  <=50K
14500  <=50K
23399  <=50K
...      ...
11284  <=50K
44732  <=50K
38158  <=50K
860    <=50K
15795   >50K

[39073 rows x 1 columns]

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()

rf.fit(train_x,train_y)
pred = rf.predict(test_x)

print(accuracy_score(test_y,pred))

ValueError: could not convert string to float: 'Private'